.video{
    position:relative;
    background-color: rgb(250, 250, 250);
    scroll-snap-align: start;
} 

.video__player{
    object-fit: fill;
    width: 100%;
    height: 100%;
    /*background-color: black;*/
}