.videoSideBar {
    position:absolute;
    top: 50%;
    right: 10px;
    color: white;
}

.videoSideBar_button {
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width:500px) {
    .videoSideBar {
        top: 30%;

        right: 5px;
        color: white;
    }
}